<%- include('../../fragments/header.ejs') %>

<main class="mainParent">
    <div class="leftMainBlock">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo non nobis tempore, cumque asperiores
        necessitatibus, suscipit consectetur modi optio voluptatum quae vitae facere beatae! Totam minus dicta omnis ea
        quam.
    </div>
    <div class="middleMainBlock">
        <p class="form-name"><%= pageTitle %></p>
        <form class="form" method="post" action="<%= formAction %>" novalidate onsubmit="return validateForm();">
            <div class="form-group">
                <input type="hidden" name="_id" value="<%= tournament._id %>">
                <label for="name">Nazwa meczu:</label>
                <input type="text" id="name" name="name" required class="<%= validationErrors.find(e => e.path.includes('name')) ? 'error-input' : '' %>"
                       value="<%= tournament.name %>" <%= (formMode === 'showDetails') ? 'disabled' : '' %>>
                <span class="error-text">
                    <% if (validationErrors.find(e => e.path.includes('name'))) { %>
                        <%= validationErrors.find(e => e.path.includes('name')).message %>
                    <% } %>
                </span><br>
                <label for="fund">Fundusz nagród:</label>
                <input type="number" id="fund" name="fund" required class="<%= validationErrors.find(e => e.path.includes('fund')) ? 'error-input' : '' %>"
                       value="<%= tournament.fund %>" <%= (formMode === 'showDetails') ? 'disabled' : '' %>>
                <span class="error-text">
                    <% if (validationErrors.find(e => e.path.includes('fund'))) { %>
                        <%= validationErrors.find(e => e.path.includes('fund')).message %>
                    <% } %>
                </span><br>
                <label for="sponsor">Sponsor:</label>
                <input type="text" id="sponsor" name="sponsor" class="<%= validationErrors.find(e => e.path.includes('sponsor')) ? 'error-input' : '' %>"
                       value="<%= tournament.sponsor %>" <%= (formMode === 'showDetails') ? 'disabled' : '' %>>
                <span class="error-text">
                    <% if (validationErrors.find(e => e.path.includes('sponsor'))) { %>
                        <%= validationErrors.find(e => e.path.includes('sponsor')).message %>
                    <% } %>
                </span><br>
                <label for="startDate">Data rozpoczęcia</label>
                <input type="datetime-local" id="startDate" name="startDate" required class="<%= validationErrors.find(e => e.path.includes('startDate')) ? 'error-input' : '' %>"
                       value="<%= tournament.startDate %>" <%= (formMode === 'showDetails') ? 'disabled' : '' %>>
                <span class="error-text">
                    <% if (validationErrors.find(e => e.path.includes('startDate'))) { %>
                        <%= validationErrors.find(e => e.path.includes('startDate')).message %>
                    <% } %>
                </span><br>
                <label for="endDate">Data ukończenia</label>
                <input type="datetime-local" id="endDate" name="endDate" class="<%= validationErrors.find(e => e.path.includes('endDate')) ? 'error-input' : '' %>"
                       value="<%= tournament.endDate %>" <%= (formMode === 'showDetails') ? 'disabled' : '' %>>
                <span class="error-text">
                    <% if (validationErrors.find(e => e.path.includes('endDate'))) { %>
                        <%= validationErrors.find(e => e.path.includes('endDate')).message %>
                    <% } %>
                </span>
            </div>
            <% if(formMode === 'showDetails' || formMode === 'edit'){ %>
            <p class="form-name">Uczęstnicy turnieju</p>
            <table class="mainTable">
                <thead>
                <tr>
                    <th>Pseudonim</th>
                    <th>Miejsce</th>
                    <th>Wygrano monet</th>
                </tr>
                </thead>
                <tbody>
                <% for (p of tournament.participation){ %>
                <tr>
                    <td><a href="/players/details/<%= p.player._id %>"><%= p.player.name %></a></td>
                    <td><%= p.playerPlace %></td>
                    <td><%= p.coinsWon %></td>
                </tr>
                <% } %>
                </tbody>
            </table>
            <% } %>
            <div class="form-buttons">
                <input type="submit" value="<%= formMode === 'edit' ? 'Edytuj' : 'Dodaj' %>"
                       class="form-button-submit" <%= formMode === 'showDetails' ? 'hidden' : '' %>>
                <% if (formMode === 'showDetails') { %>
                    <a href="/tournaments/edit/<%= tournament._id %>" class="form-button-edit">Edytuj</a>
                <% } %>
                <a href="/tournaments" class="form-button-cancel">Anuluj</a>
            </div>
            <span class="error-submit"></span>
        </form>
    </div>
    <div class="rightMainBlock">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo non nobis tempore, cumque asperiores
        necessitatibus, suscipit consectetur modi optio voluptatum quae vitae facere beatae! Totam minus dicta omnis ea
        quam.
    </div>
</main>
<script src="/js/validationTournament.js"></script>
<%- include('../../fragments/footer.ejs') %>
