<%- include('../../fragments/header.ejs') %>

<main class="mainParent">
    <div class="leftMainBlock">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo non nobis tempore, cumque asperiores
        necessitatibus, suscipit consectetur modi optio voluptatum quae vitae facere beatae! Totam minus dicta omnis ea
        quam.
    </div>
    <div class="middleMainBlock">
        <p class="form-name">Wyświetl uczęstnika turnieju</p>
        <form class="form" method="post" action="<%= formAction %>" novalidate onsubmit="return validateForm();">
            <div class="form-group">
                <input type="hidden" name="_id" value="<%= prtsp._id %>">
                <label for="tournament">Turniej:</label>
                <select id="tournament" name="tournament_id"
                        class="<%= validationErrors.find(e => e.path.includes('tournament_id')) ? 'error-input' : '' %>"
                        required <%= (formMode === 'showDetails') ? 'disabled' : '' %> >
                    <% if(formMode !== 'showDetails'){ %>
                        <option value="" selected disabled hidden>--- Wybierz turniej ---</option>
                        <% for (let i = 0; i < allTournaments.length; i++) { let tournament = allTournaments[i]; %>
                        <option value="<%= tournament._id %>" label="<%= tournament.name %>"
                                <%= (prtsp._id && tournament._id.toString() === prtsp.tournament._id.toString()) ? 'selected' : '' %>>
                        </option>
                        <% } %>
                    <% } else { %>
                        <option value="<%= prtsp.tournament._id %>" label="<%= prtsp.tournament.name %>"></option>
                    <% } %>
                </select>
                <span class="error-text">
                    <% if (validationErrors.find(e => e.path.includes('tournament_id'))) { %>
                        <%= validationErrors.find(e => e.path.includes('tournament_id')).message %>
                    <% } %>
                </span><br>
                <label for="player">Gracz:</label>
                <select id="player" name="player_id" required <%= (formMode === 'showDetails') ? 'disabled' : '' %>
                        class="<%= validationErrors.find(e => e.path.includes('player_id')) ? 'error-input' : '' %>">
                    <% if(formMode !== 'showDetails'){ %>
                        <option value="" selected disabled hidden>--- Wybierz gracza ---</option>
                        <% for (let i = 0; i < allPlayers.length; i++) { let player = allPlayers[i]; %>
                        <option value="<%= player._id %>" label="<%= player.name %>"
                                <%= (prtsp._id && player._id.toString() === prtsp.player._id.toString()) ? 'selected' : '' %>></option>
                        <% } %>
                    <% } else { %>
                        <option value="<%= prtsp.player._id %>" label="<%= prtsp.player.name %>"></option>
                    <% } %>
                </select>
                <span class="error-text">
                    <% if (validationErrors.find(e => e.path.includes('player_id'))) { %>
                        <%= validationErrors.find(e => e.path.includes('player_id')).message %>
                    <% } %>
                </span><br>
                <label for="playerPlace">Miejsce:</label>
                <input type="number" id="playerPlace" name="playerPlace"
                       class="<%= validationErrors.find(e => e.path.includes('playerPlace')) ? 'error-input' : '' %>"
                       value="<%= prtsp.playerPlace %>"<%= (formMode === 'showDetails') ? 'disabled' : '' %>>
                <span class="error-text">
                    <% if (validationErrors.find(e => e.path.includes('playerPlace'))) { %>
                        <%= validationErrors.find(e => e.path.includes('playerPlace')).message %>
                    <% } %>
                </span><br>
                <label for="coinsWon">Wygrano monet:</label>
                <input type="number" id="coinsWon" name="coinsWon"
                       class="<%= validationErrors.find(e => e.path.includes('coinsWon')) ? 'error-input' : '' %>"
                       value="<%= prtsp.coinsWon %>"<%= (formMode === 'showDetails') ? 'disabled' : '' %>>
                <span class="error-text">
                    <% if (validationErrors.find(e => e.path.includes('coinsWon'))) { %>
                        <%= validationErrors.find(e => e.path.includes('coinsWon')).message %>
                    <% } %>
                </span>
            </div>
            <div class="form-buttons">
                <input type="submit" value="<%= formMode === 'edit' ? 'Edytuj' : 'Dodaj' %>"
                       class="form-button-submit" <%= formMode === 'showDetails' ? 'hidden' : '' %>>
                <% if (formMode === 'showDetails') { %>
                    <a href="/participations/edit/<%= prtsp._id %>" class="form-button-edit">Edytuj</a>
                <% } %>
                <a href="/participations" class="form-button-cancel">Anuluj</a>
            </div>
            <span class="error-submit"></span>
        </form>
    </div>
    <div class="rightMainBlock">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo non nobis tempore, cumque asperiores
        necessitatibus, suscipit consectetur modi optio voluptatum quae vitae facere beatae! Totam minus dicta omnis ea
        quam.
    </div>
</main>
<!--<script src="/js/validationParticipation.js"></script>-->
<%- include('../../fragments/footer.ejs') %>
